*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.caja{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: thistle;
    border-radius: 20px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.11,.59,.39,.35);
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animacion{
    0%{background-color: hotpink;
    top: 0;
    left: 0;}
    25%{background-color: wheat;
    top: 0;
    left: 400px;}
    50%{background-color: lightblue;
    top: 400px;
    left: 400px;}
    75%{background-color: navy;
    top: 400px;
    left: 0;}
    100%{background-color: mediumaquamarine;
    top: 0;
    left: 0;
transform: rotate(2turn);}
}